.dynCalendar_header
{
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
	font-weight: bold;
}


.dynCalendar_dayname
{
	background-color: #FFFFFF;
	border: 1px solid #CF1717;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #CF1717;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}


.dynCalendar_day
{
	background-color: #EEEEEE;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
}


.dynCalendar_today
{
	background-color: #AAAAAA;
	border: 1px solid #CDD3E1;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 10px;
}




.dynCalendar
{
	background-color: #FFFFFF;
	border-width: 2px;
	border-style: solid;
	border-color: #0099cc;
	visibility: hidden;
	position: absolute;
	top: 1px;
	left: 1px;
}

.dynCalendar a
{
color:#333333;
}