@charset "utf-8";
/* CSS Document */

body{
	margin: 0 auto;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	behavior:url("Includes/CSS/csshover3.htc");
	color:#000000;
	overflow: scroll;

}
.link-accion{padding:5px; !important}
#contenido{
  padding: 0 20px 10px 20px;
}

#cont_middle{
  border: 1px solid #D6D6D6;
  margin: 0;
  padding: 5px 10px 10px 14px;
  background-color: #F8F8F8;
}

#cont_gris{
  margin: 0;
  padding: 5px;
  background-color: #E8E8E8;
  text-align: center;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 320px;
  font-size: 11px;
}

#cont_gris a{
  font-size: 11px;
}

input
{
	font-size: 11px; 
}

select
{
	font-size: 11px; 
}

a
{
	font-size: 12px;
	color:#33A9C7;
}
a:hover
{
color:#999999;
} 

a.no_href
{
	font-size: 12px;
	color:#33A9C7;
	text-decoration: underline;
	cursor: pointer;
}

.inactivo{
color:#999999;
}

.pie_pagina
{
	font-size: 10px;
	text-align:center;
	color:#666666;
	height:6em;
	vertical-align:top;
	padding-top:0.5em;
}

.pie_pagina a
{
	text-decoration: none;
	font-weight:normal;
	color:#666666;
}


/*********************************** FIN DE CONTENIDO PRINCIPAL ******************************************/


/************************************** FORMULARIO ********************************************/

.contenido_formulario{
  border: 1px solid #D6D6D6;
  background-color: #fff;
}

.forma_oblig
{
vertical-align:bottom;
color:#FF9900;
padding:0px;
margin:0px;
}

.forma_no_oblig
{
vertical-align:bottom;
color:#FFFFFF;
padding:0px;
margin:0px;
}

.forma_titulo
{
	font-size:1.5em;
	font-weight:bold;
	color:#3F729F;
}

.forma_mensaje
{
	text-align:left;
	padding-top:0.6em;
}

.forma_label
{
	font-size: 13px;
	color:#333333;
	font-weight: bold;
}

.forma_label_vista
{
	font-size: 13px;
	color:#555555;
	font-weight:bold;
}

.boton
{
	font-size: 12px;
	background-color:#6D6E71;
	color:#FFFFFF;
	padding-left:7px;
	padding-right:7px;
	padding-bottom:2px;
	padding-top:2px;
}

.formulario{
  border-style: double;
  border-color: #DDDDDD;
  padding: 0.5em;
  color: #555555;
}



/*********************************** FIN DE FORMULARIO ******************************************/

#listado{
  border: 1px solid #ccc;
}

#listado td {
  padding: 1px 4px 1px 4px;
}

.listado_fila_1
{
background-color:#EDEDED;
}

.listado_fila_2
{
background-color:#DFDFDF;
}     

.listado_titulo
{
	color:#235F8F;
	font-weight:bold;
	font-size: 16px;
	text-align: left;
}

.listado_subtitulo{
  color:#235F8F;
	font-weight:bold;
	font-size: 12px;
	text-align: left;
}

.listado_columna
{
  font-size:11px;
  text-align:center;
  background-color: #FFF;
  text-align: left;
  color:#333333;
}

.listado_valor
{
  font-size:11px;
  color:#000000;
}


/*mal*/
.mensaje_0
{
	background-color: #FFDFDF;
    border: 1px solid #DF5353;
    color: #B12121;
    padding: 5px;
	vertical-align: middle;
}

/*bien*/
.mensaje_1
{
	background-color: #F2F9CC;
  border: 1px solid #ABC330;
  color: #65751C;
  padding: 5px;
	vertical-align: middle;
}

/*warning*/
.mensaje_2
{
	background-color: #B3D1EA;
	border: 1px solid #155595;
	color: #155595;
  padding: 5px;
	vertical-align: middle;
}
		


/************************ FIN DE LISTADOS ******************/

.cuadro_contenido
{
border: 1px solid  #CCCCCC;
background-color:#FFFFFF;
padding-left:0.5em;
padding-right:0.5em;
}


.barra_inicio{
background-color:#076C9E;
height:0.5em;
}

.label_informacion{
color:#666666;
font-style:italic;
}




.cita_terminal_lleno{
background-color:#D9221A;
width:1em;
height:1em;
border: 0.1em #333333 solid;
}

.cita_terminal_medio{
background-color:#FFDE00;
width:1em;
height:1em;
border: 0.1em #333333 solid;
}

.cita_terminal_inactivo{
background-color:#999999;
width:1em;
height:1em;
border: 0.1em #333333 solid;
}

.dia_semana{
color:#999999;
font-size:0.9em;
}


.dia_cita_inactivo{
background-color:#999999;
border: 1px solid;
}

.texto_cita{
  background-color: #DDDDDD;
  color: #444444;
  padding: 5px;
  font-weight:bold;
}


.cita_dia
{
  background-color:#FFF;
  cursor:pointer;
  color: #000;
  padding-top: 2px;
  padding-bottom: 2px;
}  

.cita_dia:hover
{
  cursor:pointer;
  background-color: #CCC;
}
.cita_dia_rojo
{
  background-color:#D9221A;  
  color: #FFF; 
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}

.cita_dia_amarillo
{
  background-color:#FFDE00;
  cursor:pointer;     
  color: #000;   
  padding-top: 2px;
  padding-bottom: 2px;
}        

.cita_dia_amarillo:hover
{
  cursor:pointer;
  background-color: #CCC;
}


.texto_cita_copia{
font-size:1em;
color:#333333;
font-style:italic;

}






.oculto
{
  visibility: hidden;
}
.displaynone
{
  display: none;
}
.pointer
{
  cursor: pointer;
}


.no_disponible_cita_dia

{
  background-color:#D02724;  
  padding-top: 2px;
  padding-bottom: 2px;
}



tr.fila_impar
{    
  background-color: #EAEAEA;
  color: #000000;
}

tr.fila_par
{            
  background-color:#D7D7D7; 
  color: #000000;
}


.contenido_acciones{
  border: 1px solid #D6D6D6;
  background-color: #fff;
}

.buttons a, .buttons button{
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:10px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    padding:0;
    border:none;
    width:16px;
    height:16px;
}


button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

.requerido{
  color:#ff0000;
}

.nota{
font-size: 12px;
font-style: italic;
color:#000;
}

#ver_ejemplo{
  text-decoration: underline;
  font-weight: bold;
}

.nota_azul{
  border: 1px solid #155595;
  margin: 0 15px 5px 15px;
  padding: 5px 10px 10px 14px;
  background-color: #B3D1EA;
  text-align: left;
}

.nota_verde{
  border: 1px solid #00FF00;
  margin: 0 15px 5px 15px;
  padding: 5px 10px 10px 14px;
  background-color: #F0FFF0;
  width:400px;
}

.alerta{
  color: #DD3C10;
}

#barra_inferior {
    background: none repeat scroll 0 0 #CCCCCC;
    clear: both;
    height: 5px;
    line-height: 5px;
    padding: 0;
    width: 100%;
    margin-top: 5px;
}

.home{
  color:#666;
  font-family: arial;
  font-size: 12px;
}

.home .contenido_formulario{
  margin: 5px;
}

.subtitulo_home{
  color: #5799D8;
  font-size: 20px;
}

.sub_cuadro{
  color: #5799D8;
  font-size: 14px;
  padding-bottom: 5px;
}

.cont_slider{
  height: auto;
  float:left;
}

.links_inferiores{
  color:#666;
  margin: 10px 0 10px 0;
}

.links_inferiores a{
  font-family: verdana;
  margin: 0 20px 0 20px;  
}

.link_home{
  font-size: 16px;
  color: #5799D9;
}

.links_inferiores a:hover,.link_home:hover{
  text-decoration: none;
}

/**********************   slider      ***************************/
.js{overflow:hidden;zoom:1;}
.carousel,
.carousel .carousel-wrap{margin:0;border:0;zoom:1;}
.js .carousel-wrap{display:inline-block;vertical-align:middle;width:450px;margin:0 5px 15px;}
.IE .js .carousel-wrap{display:inline;}
.carousel ul{margin:0;padding:0;zoom:1;}
.js ul li{overflow:hidden;display:inline;float:left;width:450px;height:270px;text-align:center;zoom:1;}
.carousel .carousel-control{overflow:hidden;display:inline-block;vertical-align:middle;width:40px;height:40px;cursor:pointer;line-height:999px;zoom:1;border:0;text-indent:-9999px;}
.carousel .carousel-next{background:url(../Imagenes/slider/slider_next.jpg) 0 0 no-repeat;}
.carousel .carousel-previous{background:url(../Imagenes/slider/slider_prev.jpg) 0 0 no-repeat;}
.carousel .carousel-control:hover{-moz-opacity:.7;opacity:0.70;filter:alpha(opacity=70);}
.carousel .disabled,.carousel .disabled:hover{-moz-opacity:.1;opacity:0.10;filter:alpha(opacity=10);cursor:default;}
.carousel div{margin:0;padding:0;border:0;}
.carousel ul{padding:0;list-style:none;}
.carousel ul li{position:relative;width:450px;margin:0;}
.carousel ul li cite{position:absolute;bottom:3px;right:10px;line-height:19px;font-size:11px;}
.carousel ul li cite a img{vertical-align:middle;}
.carousel ul li cite a{color:#fff;text-decoration:none;}


/********************  suscribirse *********************/
.error_email{
  background-color: #FFDFDF;
  border:1px solid #DF5353;
  color: #B12121;
  padding: 5px;
}

.suscripcion_ok{
  background-color: #F2F9CC;
  border: 1px solid #ABC330;
  color: #65751C;
  padding: 5px;
}

ul.nuestros-clientes li {
    display: inline-block;
    border-bottom: 1px dashed #ccc;
    padding: 15px;
    width: 20%;
    width: 28%;
}

.nuestros-clientes li img {
    max-width: 170px;
    width: 100%;
}
ul.nuestros-clientes {
    margin: 0;
    padding: 0;
    width: 100%;
}