@charset "utf-8";
/* CSS Document */

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	behavior:url("Includes/CSS/csshover3.htc");
	color:#000000;
}

.pie_pagina
{
	
	font-size: 10px;
	text-align:center;
	color:#666666;
	
}

.pie_pagina a
{
	text-decoration: none;
	font-weight:normal;
		color:#666666;
}


input
{
	font-size: 11px; 
}

select
{
	font-size: 11px; 
}

a
{
	font-size: 12px;
	color:#F19C0D;
}

.menu{
color:#4C7E92;
font-weight:bold;
text-decoration:none;
}

.menu:hover{
color:#999999;
font-weight:bold;
text-decoration:none;
}

.menu_fondo{
padding-left:40px;
text-align:left;
}

/*********************************** FIN DE CONTENIDO PRINCIPAL ******************************************/


/************************************** FORMULARIO ********************************************/



.forma_oblig
{
vertical-align:bottom;
color:#FF9900;
padding:0px;
margin:0px;
}

.forma_titulo
{
	font-size:16px;
	font-weight:bold;
	padding-bottom:10px;
	
}

.forma_mensaje
{
	font-size: 11px;
	text-align:left;
}

.forma_label
{
	font-size: 13px;
	text-align:right;
}


.boton
{
	font-size: 12px;
	background-color:#6D6E71;
	color:#FFFFFF;
	padding-left:7px;
	padding-right:7px;
	padding-bottom:2px;
	padding-top:2px;
}





/*********************************** FIN DE FORMULARIO ******************************************/

.listado_fila_1 a
{
color:#AF1F21;
text-decoration:none;
}

.listado_fila_2 a
{
color:#AF1F21;
text-decoration:none;
}
.listado_fila_1
{
background-color:#FFFFFF;
}

.listado_fila_2
{
background-color:#FFFFFF;
}     

.listado_titulo
{
	color:#E3891F;
	font-weight:bold;
	height:5px;
}

.listado_columna
{
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}

.listado_valor
{
  font-size:11px;
  color:#000000;
}

.mensaje
{
background-color:#EAEAEA;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
padding-top:5px;
color:#444444;
text-align:center;
}


.mensaje_usuario
{
padding-top:5px;
padding-right:15px;
color:#5C614B;
font-weight:bold;
}

.oculto
{
  visibility: hidden;
}
.displaynone
{
  display: none;
}
.pointer
{
  cursor: pointer;
}

.cita_dia

{
background-color:#FFF;
cursor:pointer;

}

.no_disponible_cita_dia

{
background-color:#D02724;
}

.cita_dia:hover

{

cursor:pointer;

background-color: #CCC;

}

tr.fila_impar
{    
  background-color: #FFFFFF;
  color: #000000;
}

tr.fila_par
{            
  background-color:#FFFFFF; 
  color: #000000;
}

.formulario{
  border-style: double;
  border-color: #DDDDDD;
  padding-top:5px;
  padding-bottom:5px;
  color:#DDDDDD;
  font-weight:bold;
}

.texto_cita{
  background-color: #DDDDDD;
  color: #333333;
  padding: 5px;
}
