#myAccordion{
	width: 700px;
	border: 1px solid #6CAF00;
	
}
#myAccordion dt{
	line-height: 20px;
	background-color: #AAC63E;
	border-top: 2px solid #DAFF9F;
	border-bottom: 2px solid #AAC63E;
	padding: 0 10px;
	font-weight: bold;
	color: #fff;
	text-align:left;
}

#myAccordion dd{
	margin-left:0px;
	overflow: auto;
}


#myAccordion p{
	margin: 16px 10px;
}

#myAccordion dt.myAccordionHover
{
	background-color: #77A826;
}
#myAccordion dt.myAccordionActive
{
	background-color: #77A826;
	border-top: 2px solid #77A826;
	border-bottom: 2px solid #000;
}