.menu{
  float: left;
  margin: 30px 0 0 0;
  padding-left: 15px;
}

.menu ul{
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.menu li{
  display: inline;
  float: left;
  padding: 0 6px;
}

.menu a{
  color: #555555;
  float: left;
  height: 36px;
  padding: 0 0 0 6px;
  text-decoration: none;
}

.menu a:hover,.menu #current a{
  background: url("../Imagenes/menu_l.gif") no-repeat scroll left top transparent;
}

.menu .menu_r{
  float: left;
  height: 36px;
  padding: 0 6px 0 0;  
}

.menu a:hover .menu_r,.menu #current .menu_r{
  background: url("../Imagenes/menu_r.gif") no-repeat scroll right top transparent;
  cursor: pointer;
}

.menu .menu_m{
  cursor: pointer;
  float: left;
  font-size: 14px;
  height: 36px;
  line-height: 24px;
  padding: 0 3px;
}

.menu a:hover .menu_m,.menu #current .menu_m{
  background: url("../Imagenes/menu_m.gif") no-repeat scroll center top transparent;
}

.menu #current .menu_m{
  font-weight: bold;
}