body {
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #C1C1AE;
}
h1 {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
}
#wrapper {
width: 950px;
position: absolute;
top:0px;
left: 50%;
margin-left: -475px;
}
#branding {
width:950px;
height:120px;
background:url(images/logo_centinella1.gif);
border-bottom:2px solid #FFFFFF;
}
#content {
width: 950px;
float: right;
font-size:12px;
}
#mainContent {
width: 950px;
float: left;
}
#secondaryContent {
width: 180px;
float: right;
}
#3content {
width:750px;
float:right;
}
#mainNav {
	width: 170px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-indent:10px;
	background-color:#993300;
}

#footer {
	clear: both;
	font-size:60%;
	padding:5px 20px;
	background-color:#003366;
	color:#FFFFFF;
	text-align: right;
}
#horNav {
	width:950px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	padding:5px 0;
	background-color:#003366;
	color:#FFFFFF;
	border-bottom: 1px solid #ffffff;
}
#secondaryContent h1, #secondaryContent h2,
#secondaryContent p {
padding-left: 20px;
padding-right: 20px;
}
.style1 {color: #FFFFFF}
.style2 {color: #FFFFFF; font-size: 10px; }
.style3 {
	color: #000000;
	font-weight: bold;
}
.style5 {color: #FFFFFF; font-weight: bold; }
#graph {
width:484px;
height:20px;
background-color:#336600;
padding-top:5px;
text-indent:10px;
}
#graph2 {
width:484px;
background-color:#FFFFFF;
}
#salientes {
width:466px;
}
#entrantes {
width:466px;
}
#lineas {
	background-color:#CC9900;
	color:#FFFFFF;
	text-indent: 10px;
	padding: 5px 0;
	width: 780px;
	top: 100px;
}
#lincont {
	background-color:#FFFFFF;
	width: 780px;
}