<div class="container">
<div class="row">
	<div class="col-md-10 offset-md-1">

		<div class="row cabecera-seccion">
	        <div class="col-md-12 logo">
	        	<img src="<!--imagenes-->/logo-autopacifico.png" />
		        <h1 class="titulo"><!--label_msg_inicio--></h1>
	        </div>
					<div class="col-md-12">
						<p><!--msg_descripcion--></p>
					</div>
		</div>
		<div class="row mhide formulario">
		        <div class="col-sm-6 offset-sm-3"><h3 style="text-align:center;" class="txt-mensajes"><!--mensaje_cedula--></h3></div>
		</div>
		<div class="row campo-input">
		        <div class="col-12 col-sm-6 offset-sm-3">
		             <h2 style="text-align:center;" class="txt-mensajes mshow"><!--mensaje_cedula--></h2>
		             <form id="formHomeCedula"  name="formHomeCedula" ng-submit="" role="form" action="index.php?m=pagos&accion=infoPagosCedula" method="post">
			            <div class="form-group">
			                <input type="number" ng-model="cli_cedula" name="cli_cedula" class="form-control" min="1" required>
			              <!--  <span ng-show="formñogin.usu_login.$error.required">Name is required.</span>-->
			            </div>
			            <button type="submit" class="btn btn-primary boton-procesar block full-width m-b" name="submit_facturas"><!--boton_procesar--></button>

			        </form>

		        </div>

		</div>



	</div>

</div>
</div>


<style>
.cabecera-seccion h1{text-align:center;}
.txt-mensajes{max-height:200px;min-height:150x;}
.opened{
display:block;
}
.closed{
display:none;
}
</style>
<script>
/*(function ($) {
$( "#seleccion-identificacion input" ).each(function() {
	if ($(this).is(':checked')) {
	    mostrarCampoConsulta($(this).val());
	  }
	  //$( this ).addClass( "foo" );
	  $( this ).click(function() {
		  if ($(this).is(':checked')) {
		    mostrarCampoConsulta($(this).val());
		  }
		});
	});

	function mostrarCampoConsulta(seleccionado){

		$( "#formHome .form-group.opened" ).each(function() {
				  $( this ).removeClass( "opened" );
				  $( this ).addClass( "closed" );
			});
		$('#formHome .form-group-'+seleccionado).removeClass( "closed" );
		$('#formHome .form-group-'+seleccionado).addClass( "opened" );
	}
})(jQuery);*/
</script>
