<form id="formInfoPagosPSE" class="m-t" name="formInfoPagosPSE" ng-submit="" role="form" action="index.php?m=pagos&accion=abrirFormularioHome" method="post">
	<div class="row cabecera-seccion">
				<div class="col-md-8 offset-md-2 logo">
					<img src="<!--imagenes-->/logo-autopacifico.png" />
					<h1 class="titulo"><!--label_msg_inicio--></h1>
				</div>
				<div class="col-md-8 offset-md-2">
					<p><!--msg_descripcion--></p>
				</div>
	</div>
		<div class="row formulario">
		        <div class="col-md-8 offset-md-2">
									<div class="form-group row">
										 <label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">CEDULA:</label>
										 <div class="col-12 col-md-10 no-editable"><!--cli_cedula--></div>
										 <input type="hidden" ng-model="cli_cedula" name="cli_cedula" value="<!--cli_cedula-->">
									</div>
									<div class="form-group row">
			               <label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">NOMBRES:</label>
										 <div class="col-12 col-md-10 no-editable"><!--label_nombres--></div>
										 <input type="hidden" ng-model="cli_nombre" name="cli_nombre" class="form-control disabled" value="<!--label_nombres-->">
			            </div>
			            <div class="form-group row">
											<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">ID TRANSACCIÓN: </label>
			                <div class="col-12 col-md-10 no-editable"><!--label_id_tra--></div>
											<input type="hidden" ng-model="cli_id_tra" name="cli_id_tra" value="<!--label_id_tra-->">
			            </div>
			            <div class="form-group row">
											<input type="text" ng-model="cli_iva" name="cli_iva" class="form-control" value="<!--label_iva-->" placeholder="<!--label_iva-->" hidden>
											<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">TOTAL: </label>
			                <div class="col-12 col-md-10 no-editable"><!--label_total--></div>
											<input type="hidden" ng-model="cli_total" name="cli_total" class="form-control" value="<!--label_total-->">
			            </div>
			            <div class="form-group row">
											<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">PERSONA:</label>
											<div class="col-12 col-md-10">
										    <select class="form-control" id="persona">
													<option>Seleccione una opción</option>
										      <option value="<!--label_natural-->"><!--label_natural--></option>
										      <option value="<!--label_juridica-->"><!--label_juridica--></option>
										    </select>
											</div>
			            </div>

			            <div class="form-group row">
											<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">BANCO:</label>
			                <div class="col-12 col-md-10"><input type="text" ng-model="pago_banco" name="pago_banco" class="form-control" placeholder="" required></div>
			            </div>
									<div class="form-group row">
										<!--campos_facturas_pendientes-->
			            </div>
		        </div>

        </div>
		<div class="row">

		        <div class="col-md-4 offset-md-4">
			            <button type="submit" class="btn btn-primary block full-width m-b"><!--boton_procesar--></button>
		        </div>
		        <div class="col-md-4"></div>
        </div>
</form>
<style>
.cabecera-seccion h1{text-align:center;}
.txt-mensajes{max-height:200px;min-height:150x;}
.opened{
display:block;
}
.closed{
display:none;
}
</style>
<script>
/*(function ($) {
$( "#seleccion-identificacion input" ).each(function() {
	if ($(this).is(':checked')) {
	    mostrarCampoConsulta($(this).val());
	  }
	  //$( this ).addClass( "foo" );
	  $( this ).click(function() {
		  if ($(this).is(':checked')) {
		    mostrarCampoConsulta($(this).val());
		  }
		});
	});

	function mostrarCampoConsulta(seleccionado){

		$( "#formHome .form-group.opened" ).each(function() {
				  $( this ).removeClass( "opened" );
				  $( this ).addClass( "closed" );
			});
		$('#formHome .form-group-'+seleccionado).removeClass( "closed" );
		$('#formHome .form-group-'+seleccionado).addClass( "opened" );
	}
})(jQuery);*/
</script>
