<form id="formInfoPagosCedula" class="m-t" name="formInfoPagosCedula" ng-submit="" role="form" action="index.php?m=pagos&accion=infoPagosPSE" method="post">
	<div class="container">
	<div class="row cabecera-seccion">
				<div class="col-md-8 offset-md-2 logo">
					<img src="<!--imagenes-->/logo-autopacifico.png" />
					<h1 class="titulo"><!--label_msg_inicio--></h1>
				</div>
				<div class="col-md-8 offset-md-2">
					<p><!--msg_descripcion--></p>
				</div>
	</div>
	<div class="row formulario">
					<div class="col-md-8 offset-md-2">

						<div class="form-group row">

							<div class="col-12 col-md-10 offset-md-2"><input type="hidden" ng-model="cli_cedula" name="cli_cedula" class="form-control disabled" value="<!--label_cedula-->"></div>
						</div>
								<div class="form-group row">
									 <label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">NOMBRES:</label>
									 <div class="col-12 col-md-10 no-editable"><!--label_nombres--></div>
									 <input type="hidden" ng-model="cli_nombre" name="cli_nombre" value="<!--label_nombres-->">
								</div>
								<div class="form-group row">
										<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">TELEFONO:</label>
										<div class="col-12 col-md-10"><input type="tel" ng-model="cli_telefono" name="cli_telefono" class="form-control" value="<!--label_telefono-->" placeholder="<!--label_telefono-->" required></div>
								</div>
								<div class="form-group row">
										<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">EMAIL:</label>
										<div class="col-12 col-md-10"><input type="email" ng-model="cli_email" name="cli_email" class="form-control" value="<!--label_email-->" placeholder="<!--label_email-->" required></div>
								</div>

					</div>

			</div>

			<div class="container">
				<div class="row fila-pagos">
					<ul class="nav nav-tabs tipo-pago" role="tablist" style="margin: auto;">
					  <li class="nav-item">
					    <a class="nav-link <!--class_factura--> <!--link_factura-->" href="#<!--link_factura-->" id="btn-factura" role="tab" data-toggle="tab">Facturas</a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link <!--class_abono-->" href="#tab_abono" id="btn-abono" role="tab" data-toggle="tab">Abono</a>
					  </li>
					</ul>
				</div>
					<!-- Tab panes -->
				<div class="tab-content justify-content-md-center">
				  <div role="tabpanel" class="tab-pane fade <!--panel_factura-->" id="tab_factura">
						<div class="row formulario">
						        <div class="col-md-10 offset-md-1">
												<div class="form-group row" id="pago-factura">
													<!--campos_facturas_pendientes-->
						            </div>
						        </div>
				     </div>
					 </div>
				  <div role="tabpanel" class="tab-pane fade <!--panel_abono-->" id="tab_abono">
						<div class="row formulario">
						        <div class="col-md-10 offset-md-1">
												<div class="form-group row" id="pago-concepto">
													<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">CONCEPTO:</label>
													<div class="col-12 col-md-10"><!--lista_conceptos--></div>


						            </div>
												<div class="form-group row">
												<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left">VALOR:</label>
												<div class='col-md-10'>
													<input type='number' class="form-control" name='conceptoFactura' id='montoConcepto' readonly>
												</div>
											</div>
						        </div>
								</div>
					</div>
				
					<div class="form-group row">
							<div class="col-md-4 offset-md-4">
										<input type="submit" class="btn btn-primary block full-width m-b boton-procesar" value="<!--boton_procesar-->" name="submit" onclick="validarCheck()">
							</div>

							<div class="col-md-11 align-items-end" style="text-align: right;">
								<img src="Includes/Imagenes/Boton-PSE-01.png" style="width: 100px;">
							</div>
					</div>
				</div>
</div>
</div>
</form>
<style>
.cabecera-seccion h1{text-align:center;}
.txt-mensajes{max-height:200px;min-height:150x;}
.opened{
display:block;
}
.closed{
display:none;
}
</style>
<script>
/*(function ($) {
$( "#seleccion-identificacion input" ).each(function() {
	if ($(this).is(':checked')) {
	    mostrarCampoConsulta($(this).val());
	  }
	  //$( this ).addClass( "foo" );
	  $( this ).click(function() {
		  if ($(this).is(':checked')) {
		    mostrarCampoConsulta($(this).val());
		  }
		});
	});

	function mostrarCampoConsulta(seleccionado){

		$( "#formHome .form-group.opened" ).each(function() {
				  $( this ).removeClass( "opened" );
				  $( this ).addClass( "closed" );
			});
		$('#formHome .form-group-'+seleccionado).removeClass( "closed" );
		$('#formHome .form-group-'+seleccionado).addClass( "opened" );
	}
})(jQuery);*/
</script>
