

<form id="formInfoPagosCedula" class="m-t" name="formInfoPagosCedula" ng-submit="" role="form" action="index.php?m=pagos&accion=getBancosPagar" method="post">
	<div class="row cabecera-seccion">
				<div class="col-md-8 offset-md-2 logo">
					<img src="<!--imagenes-->/logo-autopacifico.png" />
					<h1 class="titulo"><!--label_msg_inicio--></h1>
				</div>
				<div class="col-md-8 offset-md-2">
					<p><!--msg_descripcion--></p>
				</div>
	</div>
	<div class="row formulario">
					<div class="col-md-8 offset-md-2">
			            <div class="form-group row">
											<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left"><!--label_nombres--></label>
			                <div class="col-12 col-md-10"><input type="text" ng-model="cli_nombre" name="cli_nombre" class="form-control disabled" value="<!--cli_nombres-->" placeholder="<!--label_nombres-->"  disabled></div>
			            </div>
			            <div class="form-group row">
											<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left"><!--label_apellidos--></label>
			                <div class="col-12 col-md-10"><input type="text" ng-model="cli_apellidos" name="cli_apellidos" class="form-control disabled" value="<!--cli_apellidos-->" placeholder="<!--label_apellidos-->"  disabled></div>
			            </div>
			            <div class="form-group row">
											<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left"><!--label_telefono--></label>
			                <div class="col-12 col-md-10"><input type="text" ng-model="cli_telefono" name="cli_telefono" class="form-control" value="<!--cli_telefono-->" placeholder="<!--label_telefono-->" required></div>
			            </div>
			            <div class="form-group row">
											<label for="numberGuest" class="col-12 col-md-2 col-form-label text-left"><!--label_email--></label>
			                <div class="col-12 col-md-10"><input type="text" ng-model="cli_email" name="cli_email" class="form-control" value="<!--cli_email-->" placeholder="<!--label_email-->" required></div>
			            </div>
									<div class="form-group row">
			                <!--campos_facturas_pendientes-->
			            </div>

			           <!--label_valor-->

		        </div>

        </div>

		<div class="row">
				<div class="col-md-4"></div>
		        <div class="col-md-4">
			            <button type="submit" class="btn btn-primary block full-width m-b"><!--boton_procesar--></button>
		        </div>
		        <div class="col-md-4"></div>
        </div>
</form>
<style>
.cabecera-seccion h1{text-align:center;}
.txt-mensajes{max-height:200px;min-height:150x;}
.opened{
display:block;
}
.closed{
display:none;
}
</style>
<script>
/*(function ($) {
$( "#seleccion-identificacion input" ).each(function() {
	if ($(this).is(':checked')) {
	    mostrarCampoConsulta($(this).val());
	  }
	  //$( this ).addClass( "foo" );
	  $( this ).click(function() {
		  if ($(this).is(':checked')) {
		    mostrarCampoConsulta($(this).val());
		  }
		});
	});

	function mostrarCampoConsulta(seleccionado){

		$( "#formHome .form-group.opened" ).each(function() {
				  $( this ).removeClass( "opened" );
				  $( this ).addClass( "closed" );
			});
		$('#formHome .form-group-'+seleccionado).removeClass( "closed" );
		$('#formHome .form-group-'+seleccionado).addClass( "opened" );
	}
})(jQuery);*/
</script>
