<center>
<div class='listado_titulo'>Acceso al sistema</div><br>
<div class="contenido_formulario">
  <br><!--mensaje--><br>
  <table border="0" cellpadding="0" cellspacing="0"  width="400">
  <tr>
  	<td align="left" class="forma_mensaje">Para entrar al sistema debe ingresar su nombre de usuario y contrase&ntilde;a.<br></td>
  </tr>
  <tr>
  	<td align="left"><!---CONTENIDO_FORMULARIO-->
  <form name="fm_autenticacion" method="post" action="index.php" onSubmit="return validarFormaAutenticacion(this)"> 
  <table border="0" cellpadding="2" cellspacing="2" align="center">
  	<tr>
  		<td  class="forma_label">Usuario:</td>
  		<td align="left"><input type="text" name="usu_login" value="<!--usu_login-->"></td>
  	</tr>					
  	<tr>
  		<td class="forma_label">Contrase&ntilde;a:</td>
  		<td align="left"><input type="password" name="usu_contrasenha" value=""></td>
  	</tr>
  	<tr>
  		<td>&nbsp;</td>
  		<td align="left" class="buttons">
      <button class="positive" type="submit">
          <img alt="" src="Includes/Imagenes/login.png" width="15"> 
          Ingresar
      </button>
  		<input type="hidden" name="m" value="usuarios" />
  		<input type="hidden" name="accion" value="autenticar_usuario" />
  		</td>
  	</tr>
  </table>
  </form>
  <script language="javascript" type="text/javascript">
  document.fm_autenticacion.usu_login.focus();
  </script><!---FIN_CONTENIDO_FORMULARIO--></td>
  	</tr>
  </table>
</div>
</center>