<center>
  <div class='listado_titulo'><!--titulo--></div><br>
  <br><!--mensaje-->
  <form action="index.php?m=usuarios&accion=<!--accion-->" method="post" onsubmit="return validarFormaCambiarClave(this);">
    <div class="contenido_formulario"><br>
      <table border="0" align="center">
        <tr>
			    <td colspan="2" align="center">Los campos con <span class="requerido">*</span> son obligatorios.</td>
			  </tr>
			  <tr>
          <td class="forma_label" align="right"><span class="requerido">*</span> Contrase&ntilde;a actual:</td>
          <td><input type="password" name="usu_clave" value="" /></td>
        </tr>
        <tr>
          <td class="forma_label" align="right"><span class="requerido">*</span> Nueva Contrase&ntilde;a:</td>
          <td><input type="password" name="usu_clave_nueva" value="" /></td>
        </tr>
        <tr>
          <td class="forma_label" align="right"><span class="requerido">*</span>Rapita la Nueva Contrase&ntilde;a:</td>
          <td><input type="password" name="usu_rep_clave_nueva" value="" /></td>
        </tr>
      </table> <br>
    </div><br>
    <div class="contenido_formulario">
      <table border="0" align="center">
      <tr>
          <td colspan="2" align="center" class="buttons"><br>
            <button class="positive" type="submit">
                <img alt="" src="Includes/Imagenes/guardar.png" width="15"> 
                Guardar
            </button>
            <input type='hidden' name='POST' value='POST'><br><br>
          </td>
        </tr>      
    </table>
    </div>
  </form>
</center>
    