<div class='listado_titulo'><!--titulo--></div>
<br><!--mensaje-->
<form action="index.php?m=usuarios&accion=<!--accion-->" onSubmit='return validarFormaSolicitudDemo(this)' method="POST">
    <div class="contenido_formulario"><br>
    <table border="0" class="fm_contactenos" width="95%">
      <tr>
          <td valign="top" align="center">
          <div style="width:90%;text-align:left;">Si deseas probar nuestra herramienta completa el siguiente formulario y pronto te enviaremos los datos de acceso.</div>
          <img src="Includes/Imagenes/contactenos.jpg" /></td>
        <td valign="top"><table border="0" width="440" align="right">
          <tr>
            <td align="left"><span class="requerido">*</span> Nombre</td>
            <td align="left"><input name="co_nombre" type="text" maxlength="60" id="nombre" /></td>
          </tr>
          <tr>
            <td align="left"><span class="requerido">*</span> Correo Electr&oacute;nico</td>
            <td align="left">
            <input name="co_correo" type="text" maxlength="100" id="correo" /></td>
          </tr>
          <tr>
            <td align="left">&nbsp; Tel&eacute;fono / Celular</td>
            <td align="left">
            <input name="co_telefono_celular" type="text" id="telefono_celular" /></td>
          </tr>
          <tr>
            <td align="left">&nbsp; Ciudad</td>
            <td align="left">
            <input name="co_ciudad" type="text" id="ciudad" /></td>
          </tr>          
          <tr>
            <td>&nbsp;</td>
            <td align="left">Los campos marcados con <span class="requerido">*</span> son obligatorios</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
              <td align="right">
                  <table border="0" align="center">
                    <tr>
                        <td colspan="2" align="center" class="buttons"><br>
                          <button class="positive" type="submit">
                              <img alt="" src="Includes/Imagenes/enviar.png" width="15"> 
                              Enviar
                          </button>
                          <input type='hidden' name='POST' value='POST'><br><br>
                        </td>
                      </tr>      
                  </table>
              </td>
          </tr>
        </table></td>
      </tr>
    </table>
    </div>
</form>