<div id=destinatarios>
	<form action=index.php method=post>
		<table width=50% border=0 cellpadding=2 cellspacing=2 align='center'>
			<tr><td id=titulo colspan=2 align=center><br><br>BOLETINES<br><br></td></tr>
			<tr>
				<td style='text-align:right'>Buscar Bolet&iacute;n:</td>
				<td>
					<input type=text name=bol_nombre_busqueda>
					<input type=hidden name=accion value=administrar_boletines>
					<input type=submit value='Buscar'>
				</td>
			</tr>
			<tr>
				<td colspan=2 align=center>
				<br><br>boletines
				</td>
			</tr>
			<tr>
				<td colspan=2 align=center><br><br>
					<a href='index.php?accion=abrir_fm_crear_nuevo_boletin'>Ingresar nuevo Bolet&iacute;n</a><br><br>
				</td>
			</tr>
			<tr>
				<td colspan=2 align=center><br><br>
					<a target='_blank' href='index.php?accion=enviar_programados'><b>Enviar Correos Programados para envio</b></a><br><br>
				</td>
			</tr>
		</table>
	</form>       
</div>