Estimado <!--usu_nombre-->,<br><br>
Este es un aviso para notificarle que su bolet&iacute;n <b><!--bol_nombre--></b> enviado el <b><!--fecha_inicio--></b>
 ha terminado de enviarse completamente el <b><!--fecha_termino--></b> a las <b><!--hora_termino--></b>.<br><br>
Cordialmente<br><br>
Querytek Colombia