<center>
  <div class='listado_titulo'><!--titulo_manual--></div><br>
  <div class="contenido_formulario">
  <br>
  <!--mensaje_ok-->
  <br>

  <table>
  <tr>
  <td colspan="3">
    <br><br>
  <div class="nota_azul">
  <img src="Includes/Imagenes/informacion.png" border="0" width="15"> <br><br><br>
  Procesados: <strong><!--cantidad_procesados--> </strong> de Total Pendientes: <strong><!--cantidad_pendientes--> </strong>
  <br><br>
  Enviados: <strong><!--cantidad_enviados--> </strong>
  <br>
  <br>
  Fallidos: <strong><!--cantidad_fallidos--> </strong>
  <br>
  <br>
  </div>
  <br>
  </td>
  </tr>
  
  <tr>
  <td colspan="3"><br><br></td>
  </tr>
  </table>
  </div>
</center>
<script>
window.onload = function(){
	var redireccionar='<!--redireccionar-->';
	if(redireccionar != ''){
		<!--script-->
		//location.href='<!--ruta-->index.php?m=envios&accion=enviar_pendientes&cantidad_procesados=<!--cantidad_procesados-->&cantidad_pendientes=<!--cantidad_pendientes-->&msg=E-1&flag=procesar';
	}
};
</script>