<script type="text/javascript">
$(function() {
$('#ver_ejemplo').tooltip();

});
</script>
<center>
  <div class='listado_titulo'><!--titulo--></div><br>
  <div class="contenido_formulario">
    <br><!--mensaje--><br>
		<form action="index.php?m=boletines&accion=<!--accion-->" name=formulario method=post enctype='multipart/form-data' onSubmit='return validarFormaBoletin(this);'>
			<table border=0 cellpadding=2 cellspacing=2 align='center'>
				<tr>
				  <td colspan="2" align="center">Los campos con <span class="requerido">*</span> son obligatorios.</td>
				</tr>
        <tr>
					<td class="forma_label" align="right" width="350"><span class="requerido">*</span> Nombre Bolet&iacute;n:</td>
					<td align="left">
						<input type=hidden name=bol_nombre_anterior size="40" maxlength="40" value='<!--bol_nombre-->'>
            <input type=text name=bol_nombre size="40" maxlength="40" value='<!--bol_nombre-->'>
					</td>
				</tr>				
				<tr>
					<td class="forma_label" align="right"><span class="requerido">*</span> Asunto Bolet&iacute;n:</td>
					<td align="left">
						<input type=text name=bol_asunto size="40" maxlength="100" value='<!--bol_asunto-->'>
					</td>
				</tr>
				<tr>
					<td class="forma_label" align="right"><span class="requerido">*</span> Nombre Remitente:</td>
					<td align="left">
						<input type=text name=bol_nombre_remitente size="40" maxlength="40" value='<!--bol_nombre_remitente-->'>
					</td>
				</tr>
				<!--pgs - 04/10/2011 - para evitar el spam no se le permitira al usuario poner un remitente de correo diferente
            al correo con el cual se esta autenticando para enviar sus boletines-->
        <tr>
					<td class="forma_label" align="right"><span class="requerido">*</span> Correo Remitente:</td>
					<td align="left">
					 <!--bol_correo_remitente-->
						<input type="hidden" name=bol_correo_remitente size="40" maxlength="40" value='<!--bol_correo_remitente-->'>
					</td>
				</tr>
				<tr>
					<td class="forma_label" align="right"><span class="requerido">*</span> Correo Rebotado:</td>
					<td align="left">
					   <!--bol_correo_remitente-->
						<input type="hidden" name=bol_correo_rebotado size="40" maxlength="40" value='<!--bol_correo_remitente-->'>
					</td>
				</tr>
				<!-- pgs - 04/10/2011 - fin de a modificacion -->
				<tr>
					<td class="forma_label" align="right">&nbsp;</td>
					<td align="left" class="nota"><img src="Includes/Imagenes/informacion.png" width="15" border="0"> Correo Rebotado: Correo donde le llegar&aacute;n los correos rebotados.</td>
				</tr>
				<tr>
					<td class="forma_label" align="right"><span class="requerido">*</span> Estado:</td>
					<td align="left"><!--bol_estado--></td>
				</tr>
				<!--<tr>
					<td colspan=2 align="left" class="forma_label"><br><span class="requerido">*</span> Por favor seleccione los grupos a quienes desea enviar el bolet&iacute;n:</td>
				</tr>
				<tr>
					<td colspan=2 align="left" class="nota">Solo se mostrar&aacute;n los grupos que tengan destinatarios.</td>
				</tr>
				<tr>
					<td colspan=2 align="left" class="forma_label">--><!--grupos--><!--</td>
				</tr>-->
				<tr>
					<td colspan="2" align="left" class="forma_label"><br><span class="requerido">*</span> Cuerpo del Bolet&iacute;n:</td>					
				</tr>
				<tr>
				  <td colspan="2" align="left" ><div class="nota_azul"><img src="Includes/Imagenes/informacion.png" width="15" border="0"> Si usted desea personalizar el Bolet&iacute;n de tal forma que pueda dirigirse personalmente a cada destinatario entonces agregue: [nombre] <br>en el lugar que desea que aparezca el nombre del Destinatario. 
            <span id="ver_ejemplo" title="Ejem 1:  Estimado [nombre], buenos días ....<br><br>
              
              En el email aparecerá:<br>  
              Ejem1: Estimado Pablo, buenos días ...">Ver ejemplo</span>.<br>
           <img src="Includes/Imagenes/informacion.png" width="15" border="0"> Tenga en cuenta usar esta funcionalidad siempre y cuando haya colocado el nombre de los destinatarios al momento de Ingresarlos al sistema.<br>
           <img width='15' border='0' src='Includes/Imagenes/informacion.png'><a href='<!--path_web-->Como_evitar_caer_en_la_carpeta_de_SPAM.pdf' target='_blank'>Descargue aqu&iacute;</a> Las recomendaciones para evitar caer en la carpeta de SPAM.</div>
          </td>
				</tr>
				<tr>
					<td colspan=2 align="center">
					<textarea name="bol_html" id="bol_html" class="ckeditor">
					<!--bol_html-->
					</textarea>
					</td>
				</tr>
				<!--archivos_previos-->
				
        <tr>
					<td colspan="2" align="left" class="forma_label"><br>Archivos Adjuntos:</td>					
				</tr>
				<tr>
				  <td colspan="2" align="left" >
				  	<div class="nota_azul">
					  	<img src="Includes/Imagenes/informacion.png" width="15" border="0"> Si usted lo desea, puede adjuntar hasta 4 archivos para enviar en su bolet&iacute;n.<br />
					  	<img src="Includes/Imagenes/informacion.png" width="15" border="0"> Cada archivo puede tener un tama&ntilde;o m&aacute;ximo de <!--tam_megas--> Mb, si alg&uacute;n archivo sobrepasa este tama&ntilde;o no ser&aacute; incluido en el env&iacute;o del bolet&iacute;n.<br />        
					  	<img src="Includes/Imagenes/informacion.png" width="15" border="0"> Si ha escogido un archivo y ya no desea adjuntarlo, lo puede quitar dando click en "Quitar Archivo".<br />          
	            		<img src="Includes/Imagenes/informacion.png" width="15" border="0"> Las extensiones de archivo permitidas son: <!--extensiones-->.
					</div>
          </td>
				</tr>
				<tr>
					<td class="forma_label" align="right">Archivo 1:</td>
					<td align="left">
						<div id="contenedor_adjunto_1" style="display: inline-block;"><input type="file" name="bol_adjunto_1" id="bol_adjunto_1" /></div>&nbsp;&nbsp;&nbsp;<input type="button" name="btn_reset_adjunto_1" onclick="limpiarCampoFila('contenedor_adjunto_1', 'bol_adjunto_1');" value="Quitar Archivo" />
					</td>
				</tr>  
				<tr>
					<td class="forma_label" align="right">Archivo 2:</td>
					<td align="left">
						<div id="contenedor_adjunto_2" style="display: inline-block;"><input type="file" name="bol_adjunto_2" id="bol_adjunto_2" /></div>&nbsp;&nbsp;&nbsp;<input type="button" name="btn_reset_adjunto_2" onclick="limpiarCampoFila('contenedor_adjunto_2', 'bol_adjunto_2');" value="Quitar Archivo" />
					</td>
				</tr>
				<tr>
					<td class="forma_label" align="right">Archivo 3:</td>
					<td align="left">
						<div id="contenedor_adjunto_3" style="display: inline-block;"><input type="file" name="bol_adjunto_3" id="bol_adjunto_3" /></div>&nbsp;&nbsp;&nbsp;<input type="button" name="btn_reset_adjunto_3" onclick="limpiarCampoFila('contenedor_adjunto_3', 'bol_adjunto_3');" value="Quitar Archivo" />
					</td>
				</tr>
				<tr>
					<td class="forma_label" align="right">Archivo 4:</td>
					<td align="left">
						<div id="contenedor_adjunto_4" style="display: inline-block;"><input type="file" name="bol_adjunto_4" id="bol_adjunto_4" /></div>&nbsp;&nbsp;&nbsp;<input type="button" name="btn_reset_adjunto_4" onclick="limpiarCampoFila('contenedor_adjunto_4', 'bol_adjunto_4');" value="Quitar Archivo" />
					</td>
				</tr>
				<tr>
            <td colspan="2" align="center" class="buttons"><br>
              <button class="positive" type="submit">
                  <img alt="" src="Includes/Imagenes/guardar.png" width="15"> 
                  Guardar
              </button>                                                   
              <input type='hidden' name='MAX_FILE_SIZE' value='<!--max_file_size-->'>
              <input type='hidden' name='bol_id' value='<!--bol_id-->'>
              <input type='hidden' name='campo_busqueda' value='<!--campo_busqueda-->'>
              <input type='hidden' name='POST' value='POST'><br><br>
            </td>
          </tr>
			</table>
		</form>
  </div><br>
  <div class="contenido_acciones">
    <br>
      <div class='buttons' style="text-align:right;margin-right:10px;"><!--enviar_boletin-->&nbsp;&nbsp;&nbsp;&nbsp;<a class='positive' href='index.php?m=boletines&accion=listado_boletines'><img src='Includes/Imagenes/listado.png' width='30' border='0'> Volver al Listado</a></div>
    <br>
  </div>
</center>