<script type="text/javascript">
$(function() {
$('#ver_ejemplo').tooltip();

});
</script>
<center>
  <div class='listado_titulo'><!--titulo--></div><br>
  <div class="contenido_formulario">
<br><!--mensaje_ok--><br>  
		<form action="index.php?m=envios&accion=<!--accion-->" name=formulario method=post enctype='multipart/form-data' onSubmit='return validarFormaEnvios(this);'>
			<table border=0 cellpadding=2 cellspacing=2 align='center'>

				  <td colspan="2" align="center"></td>
				</tr>
				<tr>
				  <td colspan="2" align="center">
				  <div class="nota_azul">
  						<img src="Includes/Imagenes/informacion.png" border="0" width="15">
  						Si desea personalizar el mensaje utilice el token <strong>&ltnombre&gt</strong> dentro del mensaje.<br><br>
  						Ej: <i>Hola &ltnombre&gt, Bienvenido.</i><br><br>
  						
  						<img src="Includes/Imagenes/informacion.png" border="0" width="15"> 
  						Los campos con <span class="requerido">*</span> son obligatorios.</td>
				  </div>
				  </td>
				</tr>
				<tr>
				  <td colspan="2" align="center"></td>
				</tr>
        <tr>
					<td class="forma_label" align="right" width="350"><span class="requerido">*</span> Nombre de env&iacute;o:</td>
					<td align="left">
                    <input type=text name=env_nombre size="40" maxlength="40" value=''>
					</td>
				</tr>
				<tr>
				  <td colspan="2" align="center"></td>
				</tr>			
				<tr>
					<td class="forma_label" align="right"><span class="requerido">*</span> Mensaje:</td>
					<td align="left">
						<textarea name=env_mensaje_original rows="5" cols="35" maxlength="144" ></textarea>
					</td>
				</tr>
		 <tr>
            <td colspan="2" align="center" class="buttons"><br>
              <button class="positive" type="submit">
                  <img alt="" src="Includes/Imagenes/guardar.png" width="15"> 
                  Guardar
              </button>                                                   
              <input type='hidden' name='POST' value='POST'><br><br>
            </td>
          </tr>
			</table>
		</form>
  </div><br>
  <div class="contenido_acciones">
    <br>
      <div class='buttons' style="text-align:right;margin-right:10px;"><a class='positive' href='index.php?m=envios&accion=index'><img src='Includes/Imagenes/listado.png' width='30' border='0'> Volver al inicio</a></div>
    <br>
  </div>
</center>