<center>
  <div class='listado_titulo'><!--titulo--></div><br>
  <div class="contenido_formulario">
    <br><!--mensaje--><br>
		<form action="index.php?m=boletines&accion=<!--accion-->" name=formulario method=post enctype='multipart/form-data' onSubmit='return validarFormaProbar(this);'>
			<table border=0 cellpadding=2 cellspacing=2 align='center'>
				<tr>
					<td class="forma_label" align="left" colspan="2">Ingrese el correo electr&oacute;nico al cual le llegar&aacute; la prueba del Bolet&iacute;n.<br><br></td>					
				</tr>
        <tr>
					<td class="forma_label" align="left"><span class="requerido">*</span> Correo electr&oacute;nico:</td>
					<td align="left">
						<input type=text name="envp_correo" size="40" value='<!--envp_correo-->'>
					</td>
				</tr>
			  <tr>
            <td colspan="2" align="center" class="buttons"><br>
              <button class="positive" type="submit">
                  <img alt="" src="Includes/Imagenes/enviar.png" width="15"> 
                  Enviar
              </button>                                                   
              <input type='hidden' name='bol_id' value='<!--bol_id-->'>
              <input type='hidden' name='POST' value='POST'><br><br>
            </td>
          </tr>
			</table>
		</form>
  </div>
</center>