<center>
  <div class='listado_titulo'><!--titulo_manual--></div><br>
  <div class="contenido_formulario">
<br>
<!--mensaje_archivo-->
<!--mensaje_ok--><br>  
  <table>
  <tr>
  <td colspan="3">
    <br><br>
  <div class="nota_azul">
  <img src="Includes/Imagenes/informacion.png" border="0" width="15"> Usted tiene <strong><!--cantidad_envios_pendientes--> </strong> env&iacute;os SMS pendietes.
  </div>
  <br>
  </td>
  </tr>

  
  <tr>
  <td colspan="3" style="text-align:center;">
  <img src="Includes/Imagenes/warning.png" width="22">  Seleccione una acci&oacute;n. <br><br>
  </td>
  </tr>
  
  <tr>
  <td><a href="index.php?m=envios&accion=fm_nuevo" class="link-accion">CREAR ENVIO</a></td>
  <td><a href="index.php?m=envios&accion=listado_envios" class="link-accion">VER ENVIOS</a></td>
  <td><a href="index.php?m=envios&accion=enviar_pendientes&cantidad_pendientes=<!--cantidad_envios_pendientes-->" class="link-accion" onclick='if(confirm("\xbfEst\xe1 seguro que desea enviar los <!--cantidad_envios_pendientes--> env\xedos pendientes?")){return true;}else{return false;};' target="_blank">ENVIAR ENV&Iacute;OS PENDIENTES</a></td>
  </tr>
  <tr>
  <td colspan="3"><br><br></td>
  </tr>
  </table>
  </div>
</center>