<center>
  <div class='listado_titulo'><!--titulo--></div><br>
  <div class="nota"><!--nota--></div><br>
  <!--msj_no_disponible-->
  <div class="contenido_formulario">
    <table border=0 cellpadding=2 cellspacing=2 height="50" width="900" align="center">
      <tr>
        <td align="left" width="650" class="forma_label">N&uacute;mero de correos enviados</td>
        <td align="left" width="100" class="forma_label"><!--enviados--></td>
        <!--<td width="150"><div style="text-align: left; margin-left: 10px;<!--mostrar->" class="buttons"><a href="index.php?m=boletines&accion=ver_registros&tipo=enviados&enb_id=<!--enb_id->&bol_id=<!--bol_id->" class="positive"><img width="30" border="0" src="Includes/Imagenes/ver_registros.png"> Ver registros</a></div></td>-->
      </tr>
    </table>
  </div><br>
  <div class="contenido_formulario">
    <table border=0 cellpadding=2 cellspacing=2 height="50" width="900" align="center">
      <tr>
        <td align="left" width="650" class="forma_label">N&uacute;mero de correos pendientes por enviar</td>
        <td align="left" width="100" class="forma_label"><!--pendientes--></td>
        <!--<td width="150"><div style="text-align: left; margin-left: 10px;<!--mostrar->" class="buttons"><a href="index.php?m=boletines&accion=ver_registros&tipo=pendientes&enb_id=<!--enb_id->&bol_id=<!--bol_id->" class="positive"><img width="30" border="0" src="Includes/Imagenes/ver_registros.png"> Ver registros</a></div></td>-->
      </tr>
    </table>
  </div><br>
  <div class="contenido_formulario">
    <table border=0 cellpadding=2 cellspacing=2 height="50" width="900" align="center">
      <tr>
        <td align="left" width="650" class="forma_label">N&uacute;mero de correos no enviados</td>
        <td align="left" width="100" class="forma_label"><!--no_enviados--></td>
        <!--<td width="150"><div style="text-align: left; margin-left: 10px;<!--mostrar->" class="buttons"><a href="index.php?m=boletines&accion=ver_registros&tipo=no_enviados&enb_id=<!--enb_id->&bol_id=<!--bol_id->" class="positive"><img width="30" border="0" src="Includes/Imagenes/ver_registros.png"> Ver registros</a></div></td>-->
      </tr>
    </table>
  </div><br>
  <div class="contenido_formulario">
    <table border=0 cellpadding=2 cellspacing=2 height="50" width="900" align="center">
      <tr>
        <td align="left" width="650" class="forma_label">N&uacute;mero de correos leidos</td>
        <td align="left" width="100" class="forma_label"><!--leidos--></td>
        <td width="150"><div style="text-align: left; margin-left: 10px;<!--mostrar->" class="buttons"><a href="index.php?m=boletines&accion=ver_registros&tipo=leidos&enb_id=<!--enb_id-->&bol_id=<!--bol_id-->" class="positive"><img width="30" border="0" src="Includes/Imagenes/ver_registros.png"> Ver registros</a></div></td>
      </tr>
    </table>
  </div><br>
  <div class="contenido_formulario">
    <table border=0 cellpadding=2 cellspacing=2 height="50" width="900" align="center">
      <tr>
        <td align="left" width="650" class="forma_label">N&uacute;mero de destinatarios que se dieron de baja</td>
        <td align="left" width="100" class="forma_label"><!--baja--></td>
        <td width="150"><div style="text-align: left; margin-left: 10px;<!--mostrar->" class="buttons"><a href="index.php?m=boletines&accion=ver_registros&tipo=baja&enb_id=<!--enb_id-->&bol_id=<!--bol_id-->" class="positive"><img width="30" border="0" src="Includes/Imagenes/ver_registros.png"> Ver registros</a></div></td>
      </tr>
    </table>
  </div><br>
  <!--pgs - 26/06/2011 - se ponene los destinatarios que se dieron de baja previamente en otros boletines-->
  <div class="contenido_formulario">
    <table border=0 cellpadding=2 cellspacing=2 height="50" width="900" align="center">
      <tr>
        <td align="left" width="650" class="forma_label">N&uacute;mero de destinatarios que se dieron de baja en otros boletines</td>
        <td align="left" width="100" class="forma_label"><!--baja_otros--></td>
        <!--<td width="150"><div style="text-align: left; margin-left: 10px;<!--mostrar->" class="buttons"><a href="index.php?m=boletines&accion=ver_registros&tipo=baja_otros&enb_id=<!--enb_id->&bol_id=<!--bol_id->" class="positive"><img width="30" border="0" src="Includes/Imagenes/ver_registros.png"> Ver registros</a></div></td>-->
      </tr>
    </table>
  </div><br>
  
  <!--pgs - 12/03/2012 - se pone la informacion de destinatarios rebotados duros y blandos 
  <div class="contenido_formulario">
    <table border=0 cellpadding=2 cellspacing=2 height="50" width="900" align="center">
      <tr>
        <td align="left" width="650" class="forma_label">N&uacute;mero de correos rebotados blandos</td>
        <td align="left" width="100" class="forma_label"><!-rebotados_blandos-></td>
      </tr>
    </table>
  </div><br>
  <div class="contenido_formulario">
    <table border=0 cellpadding=2 cellspacing=2 height="50" width="900" align="center">
      <tr>
        <td align="left" width="650" class="forma_label">N&uacute;mero de correos rebotados duros</td>
        <td align="left" width="100" class="forma_label"><!-rebotados_duros-></td>
      </tr>
    </table>
  </div><br>-->
  
  <div class="contenido_acciones">
    <br>
      <div class='buttons' style="text-align:right;margin-right:10px;"><a class='positive' href='index.php?m=boletines&accion=listado_envios&bol_id=<!--bol_id-->'><img src='Includes/Imagenes/listado.png' width='30' border='0'> Volver al Listado de Envios</a></div>
    <br>
  </div>
</center>