<center>
  <div class='listado_titulo'><!--titulo_manual--></div><br>
  <div class="contenido_formulario">
  <br>
  
  <table>
  <tr>
  <td>
  <br><br>
  <div class="nota_azul">
  <img src="Includes/Imagenes/informacion.png" border="0" width="15"> Para configurar el envio de mensajes SMS primero debe crear los destinatarios.
  </div>
  <br>
  </td>
  </tr>
  
  <tr>
  <td style="text-align:center;"><a href="index.php?m=destinatarios&accion=fm_nuevo&modulo_origen=envios" class="link-accion">CREAR DESTINATARIOS</a></td>
  </tr>
  
  <tr>
  <td style="text-align:center;"><br></td>
  </tr>
  
  </table>
  </div>
</center>