<!--bol_html-->
<br><br>
<span style="color:#000;font-size:12px;">Si no desea recibir m&aacute;s nuestro bolet&iacute;n presione</span> <a style="color:#000;font-size:12px;" href="<!--path_web-->index.php?m=boletines&accion=baja&env_id=<!--env_id-->">aqu&iacute;</a>
<center>
  <img src="<!--path_web-->index.php?m=boletines&accion=imagen&env_id=<!--env_id-->" border="0">
</center>
<center>
  <span style="color:#666;font-size:10px;">Mensaje enviado usando</span> <a href="http://www.boletines.com.co/" style="color:#666;font-size:10px;">BOLETINES QUERYTEK Colombia</a>
</center>
<!--proyecto=boletines-->
<!--des_id=<!--des_id-->-->
<!--env_id=<!--env_id-->-->