.transmenu
{
	left: -1000px;
	overflow: hidden;
	position: absolute;
	top: -1000px
}
.transmenu .content
{
	position: absolute
}
.transmenu .items
{
	z-index: 2;
	left: 0px;
	position: relative;
	top: 0px;
}
.top .items
{
	border-top: medium none
}
.transmenu .item
{
	font-weight: normal;
	font-size: 10px;
	cursor: hand;
	font-family: verdana, arial, sans-serif;
	text-decoration: none;
	background-color: #993300;
	color: #ffffff;
}
.transmenu .background
{
	z-index: 1;
	filter: alpha(opacity=100);
	left: 0px;
	position: absolute;
	top: 0px;
	moz-opacity: 1
}
.transmenu .shadowright
{
	z-index: 3;
	filter: alpha(opacity=40);
	width: 2px;
	position: absolute;
	top: 3px;
	moz-opacity: .4
}
.transmenu .shadowbottom
{
	z-index: 1;
	filter: alpha(opacity=40);
	left: 3px;
	position: absolute;
	height: 2px;
	moz-opacity: .4
}
.transmenu .hover
{
	background: #333333;
	color: #ffcc00
}

#menu a
{
	text-decoration:none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	padding: 5px 0;
	background-color: #993300;
	color: #ffffff;
	height: 25px;
}

#menu a:hover, #menu .activo
{
	text-decoration:none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	padding: 5px 0;
	color: #ffcc00;
	background-color: #333333;
}

#menu td
{
	font-weight: normal;
	font-size: 11px;
	font-family: verdana, arial, sans-serif;
	text-decoration: none;
}