<center>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
	<td>Para cambiar su clave digite su clave actual y la nueva.<br><br></td>
</tr>
<tr>
	<td><!---CONTENIDO_FORMULARIO-->
<form name="fm_cambiarClave" method="post" action="index.php?m=usuarios&accion=cambiar_clave" onSubmit="return validarFormaCambiarClave(this)"> 
<table border="0" cellpadding="2" cellspacing="2">
	<tr>
		<td width="200" class="forma_label">Clave actual :</td>
		<td width="164"><input type="password" name="usu_clave" value=""></td>
	</tr>					
	<tr>
		<td class="forma_label">Nueva clave :</td>
		<td><input type="password" name="usu_clave_nueva" value=""></td>
	</tr>
	<tr>
		<td class="forma_label">Repita nueva clave :</td>
		<td><input type="password" name="usu_clave_nueva_confirmacion" value=""></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td align="left"><input type="submit" value="Cambiar clave"></td>
	</tr>
</table>
</form>
<script language="javascript" type="text/javascript">
document.fm_cambiarClave.usu_clave.focus();
</script><!---FIN_CONTENIDO_FORMULARIO--></td>
	</tr>
</table>
</center>