<table border="0" cellpadding="0" cellspacing="0" width="80%" align="center">
<tr>
	<td class="titulo_funcionalidades"><br/><!--titulo--></td>
</tr>
<tr>
    <td align="right"><img src="<!--ruta_imagenes-->/linea_gris.png" width="100%" height="1"></td>
</tr>								
<tr>
	<td colspan='2'><!--mensaje--></td>
</tr>
<tr>
	<td><form id="formaEditarUsuarioSistema" name="formaEditarUsuarioSistema" method="post" action="index.php?" onSubmit="return validarFormaEditarUsuarioGestion(this)"> 
	<table border="0" cellpadding="2" cellspacing="0" class="forma_label" width="70%">
        <tr>
			<td width="35%"><!--nombre--></td>
			<td><input type="text" value="<!--usu_nombre-->" name="usu_nombre" ></td>
		</tr>
        <tr>
			<td><!--usuario--></td>
			<td><input type="text" value="<!--usu_login-->" name="usu_login" ></td>
		</tr>
		<tr>
			<td><!--clave--></td>
			<td><input type="password" name="usu_clave" value=""></td>
		</tr>
		<tr>
			<td><!--rpt_clave--><br>
			</td>
			<td valign="top"><input type="password" name="usu_clave_confirmacion" value=""></td>
		</tr>
		<tr>
			<td><!--label_correo--></td>
			<td><input type="text" value="<!--usu_correo-->" name="usu_correo"></td>
		</tr>
		<tr>
			<td><!--tipo_usuario_select--></td>
			<td><!--tipo_usuario--></td>
		</tr>
        <!--lista_cadenas-->
        <!--lista_hoteles-->
		<tr>
			<td><!--categoria--></td>
			<td><!--categoria_usuario--></td>
		</tr>
        <!--campo_paquete-->
        <tr>
			<td><!--label_dias_notificacion_vencimiento_tareas--></td>
			<td><input style="width:50px;" pattern="{4,10}" type="number" value="<!--usu_dias_notificacion_tarea_expirar-->" name="usu_dias_notificacion_tarea_expirar"></td>
		</tr>
     </table>
    <table border="0" cellpadding="2" cellspacing="0" class="forma_label" width="80%">    
		<!--zona_funcionalidades-->
	</table>
    <input type="hidden" name="usu_id" value="<!--usu_id-->">
    <input type="hidden" name="m" value="usuarios">
    <input type="hidden" name="accion" value="<!--accion-->">
    <input type="hidden" name="usu_busqueda" value="<!--usu_busqueda-->">
    <input type="hidden" name="est_id" value="<!--est_id-->">
	</form>
    <!--enlace_volver-->
    </td>
</tr>
</table>

