<div class="inmodal encuesta_interna" >
    <div class="modal-header" >
        <h4 class="modal-title">
          {{titulo_modal_soporte}}
        </h4>
    </div>
    <div class="modal-body" >
       <iframe scrolling="auto" src="index.php?m=usuarios&accion=abrir_formulario_soporte" frameborder="0" style="height:400px; width:100%;"></iframe>
    </div>
    <div class="modal-footer" >
        <button type="button" class="btn btn-white" ng-click="cancel()">{{cerrar}}</button>
    </div>
</div>
