<table width="100%" border="0">
        <tr>
            <td height="10" valign="top"></td>
            <td align='right'></td>
	</tr>
	   <tr>
            <td  width="190" valign="top" align="left"><div class="menu" style="padding-left:5px;">
                    <br>
                    <table cellpadding="1" border="0">
                        <tr>
                            <td width="5" valign="middle" align="center"><img src="<!--imagenes-->/menu_on.gif"></td>
                            <td valign="middle">Salidas del d&iacute;a</td>
                        </tr>
                    </table>  
                    <br>
                </td>
                
            <td valign="top" align="left">    
            </td>
	</tr>
</table>
