<!DOCTYPE html>
<html ng-app="inspinia">
    <head>
        <meta charset="<!--codificacion-->">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Pragma" content="no-cache">
        <title>HOTELS quality</title>
        <link rel="shortcut icon" href="<!--imagenes-->/favicon.ico" >
        <!-- <title page-title></title> -->
        <!--css-->
        <!--js-->
    </head>
    <!-- ControllerAs syntax -->
    <!-- Main controller with serveral data used in Inspinia theme on diferent view -->
    <body ng-controller="MainCtrl as main" class="<!--print--> md-skin fixed-sidebar fixed-nav {{$state.current.data.specialClass}}" landing-scrollspy id="page-top"  >
        <!-- Wrapper-->
        <div id="wrapper">  
            <!--Menu-->
            <div ng-include="'interfaz/Plantilla/menu.html'"></div>
            <!-- Page wraper  -->
            <!-- ng-class with current state name give you the ability to extended customization your view -->
            <div id="page-wrapper" class="gray-bg"> 
                <!-- Page wrapper -->
                <!--contenido_externo_general-->
                <div id="top_navbar"><!--info--></div>
                <div class="row wrapper border-bottom white-bg page-heading">   
                    <div class="<!--clase_ajuste_top--> menu-principal col-xs-10 row" ng-controller="menuPrincipalCtrl">
                        <div class="col-sm-6 col-md-10">
	                        <h2><strong><!--titulo_de_pagina--></strong></h2>
	                        <ol class="breadcrumb">
	                            <!-- <li class="active"></li>-->
	                            <!--migas_de_pan-->
	                        </ol>
                        </div>
                    </div>
                   	<!--selector_encuestas-->
                    <!--pasos_comunicacion-->
                    <!--calendario_general-->
                </div>
                <div class="wrapper wrapper-content animated fadeInRight ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox">
                                <div class="ibox-content content-general">    
                                    <!--contenido-->
                                </div>
                                <!--contenido_externo-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                <!--<div ng-include="'Includes/Plantillas/footer.html'"></div>-->
            </div>
            <!-- End page wrapper-->
            <!-- Right Sidebar -->
            <div >
                <div id="right-sidebar" ng-show="rightSidebar" class="sidebar-open" style="display:none;">
                    <div class="sidebar-container" full-scroll>
                        <ul class="sidebar-list" ng-controller='modalDemoCtrl'>
                            <!--  <li>
                                  <a class="enlace" target="blank" href="http://www.hotels-quality.com/hq_manual/FreeRP/EN/"><!--faq</a>
                              </li>
                            -->
                            <li >
                                <a class="enlace" href="#" ng-click="modalGenericoHTML('lg', 'index.php?m=auxiliar&accion=fm_perdido_traduccion', '<!--perdido_con_traduccion-->', 'auxiliar/Plantillas/modal_iframe_email_solicitud.html', modalVistaPreviaEmailSolicitud, '', '')">
                                    <!--perdido_con_traduccion-->
                                </a>
                            </li>
                            <li>
                                <span class='opciones_superior'>
                                    <a href='#' ng-click='abrirSoporte()'><!--soporte--></a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="vistaCampaniasController">
            <span data-ng-init="mostrarCampaniaInApp(this)"></span>
        </div>
        <!-- End wrapper-->
        <!--js_footer-->
    </body>
</html>
